.LogoName{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}
.Header{
    display: flex;
    justify-content: center;
    width: 94vw;
    margin: 0 3vw 0 3vw;
}

@media (max-device-width: 350px) {
    .LogoName{
        font-size: 44px;
    }
}